/* ส่วนของ header */
header {
  background-color: #2196F3; /* สีฟ้าธีมเตรียมอุดม */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative; /* ป้องกันการทับซ้อน */
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  margin-top: 10px;
}

section {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #FF99CC;
}

#logoutButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #FF99CC;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2; /* ปรับให้สูงกว่า header */
}

#logoutButton:hover {
  background-color: #FF99CC;
}

  
